<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form action="" th:action="@{/bancos/addbanco}" th:object="${bancoModel}" method="post">
		Sucursal: <input type="text" th:field="*{b_sucursalMod}"/>
		<br/>
		Entidad: <input type="text" th:field="*{c_entidadMod}"/>
		<br/>
		Dirección: <input type="text" th:field="*{b_direccionMod}"/>
		<br/>
		Status: <input type="text" th:field="*{b_statusMod}"/>
		<br/>
		<button type="submit">
			Guardar
		</button>
	</form>
</body>
</html>