<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

	<h1>AGregar Chequera</h1>

	<form action="" th:action="@{/chequeras/addchequera}" th:object="${chequeraModel}" method="post">
		Fecha apertura: <input type="date" th:field="*{ch_fecha_apertura}"/>
		<br />
		Saldo: <input type="text" th:field="*{ch_saldo}"/>
		<br />
		Abono: <input type="text" th:field="*{ch_abono}"/>
		<br />
		Cargo: <input type="text" th:field="*{ch_cargo}"/>
		<br />
		Cliente<input type="text" name="idCliente" th:value="${cliente}"/>
		<br />
		Banco<input type="text" name="idBanco"/>
		<br />
		Status<input type="text" th:field="*{ch_status}"/>
		<br />
		<button type="submit">
			Guardar
		</button>
	</form>

</body>
</html>