<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon icon -->
    <!--link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/images/favicon.png}"/-->
    <title>ChequeraKND</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        <div th:include="fragment/menu">
        </div>

        

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">chequeraKND</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4></div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <!-- Form Bancos -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">Agregar movimiento</h1>
                                <!--h6 class="card-subtitle">Just add class to the form.</h6-->
                                <form id="formChequera2" th:action="@{/movimientos/addmovimiento}" th:object="${movimientoModel}" method="post" class="floating-labels m-t-40">
                                    
                                    <!-- IDChequera -->
                                    <input type="hidden" id="idChequera" name="idChequera" th:value="${chequera.idchequera}"/>
                                    
                                    <div class="form-group">
                                       <label>Tipo de movimiento</label>
                                       <select name="idTipoMovimiento" class="form-control" required="required">
										<option  value=""></option>
										<option th:each="tm : ${tiposMovimientos}" th:value="${tm.idtipo_movimiento}" th:text="${tm.tm_operacion}">Operación</option>
                                       </select>
                                   </div>
                                    
                                    <div class="form-group m-b-40">
                                        <input type="text" class="form-control" th:field="*{m_concepto}" required="required"/>
                                        <span class="bar"></span>
                                        <label for="input1">Concepto</label>
                                    </div>
                                    <div class="form-group m-b-40">
                                        <input type="number" class="form-control" th:field="*{m_monto}" required="required"/>
                                        <span class="bar"></span>
                                        <label for="input2">Monto</label>
                                    </div>
                                    <div class="form-group m-b-40">
                                        <input type="date" class="form-control" th:field="*{mFecha}" required="required"/>
                                        <span class="bar"></span>
                                        <label for="input1">Fecha Apertura</label>
                                    </div>
                                    
                                    <div class="form-group m-b-40">
									    <div class="checkbox checkbox-success">  
		                                    <input name="m_status" id="m_status" type="checkbox" class="filled-in" checked="" />
		                                    <label for="m_status">Status</label>
		                                </div>
									</div>
	                                
                                    <button type="submit" class="btn waves-effect waves-light btn-block btn-info"><i class="fa fa-heart"></i> Registrar Banco</button>
                                    
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- Fin Form Bancos -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2018 KND
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>


    <script>
    	
    	$(document).ready(function(){

			//alert("Validar monto");
			
			var saldo = 0.0;
			saldo=parseFloat($("body #saldo").text());
		    
			$("#formChequera #m_monto").keyup(function(){
				var monto = parseFloat($("#formChequera #m_monto").val());
				//alert(monto+" Saldo: "+saldo);
				if(monto>saldo){
					alert("Error el movimiento no puede ser mayor al saldo");
				}
			});
			
			$("#formChequera2 #m_monto").keyup(function(){
				var monto = parseFloat($("#formChequera2 #m_monto").val());
				//alert("Monto: "+monto);
				if(monto>saldo){
					alert("Error el movimiento no puede ser mayor al saldo");
				}
			});
		    
		});
	    </script>
</body>

</html>
