<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon icon -->
    <!--link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/images/favicon.png}"/-->
    <title>ChequeraKND</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        <div th:include="fragment/menu">
        </div>

        

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">chequeraKND</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4></div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                    	<input type="checkbox" id="basic_checkbox_2" class="filled-in" checked=""/>               
	                    <!-- Table movimientos-->
                        <div class="card">
                            <div class="card-body">
                            	<h1>Movimientos de la Chequera: <span th:text="${chequera.idchequera}"></span></h1>
								<h2>Entidad: <span th:text="${chequera.getBancos().b_entidad}"></span></h2>
								<h2>Saldo: <span th:text="${chequera.ch_saldo}"></span></h2>

								<a th:href="@{/movimientos/movimientosform(chequera=${chequera.idchequera})}">
   	                                <button type="button" class="btn waves-effect waves-light btn-lg btn-info"><i class="fa fa-plus"></i> Nuevo Movimiento</button>
       							</a>
								
								<a th:href="@{/reporte/estadodecuentaform(idChequera=${chequera.idchequera})}">
   	                                <button type="button" class="btn waves-effect waves-light btn-lg btn-info"><i class="ti-bar-chart"></i> Generar estado de cuenta</button>
       							</a>
       						</div>
                        </div>
                    </div>
                </div>
				
				<div class="row">
                	<!-- Registrar -->
                    <div class="col-12" th:if="${result}"><!-- th:if="${result}" -->
						<div th:if="${result==1}" class="alert alert-success alert-rounded">  Movimiento registrado con exito!.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
						</div>
                    	<div th:if="${result==2}" class="alert alert-danger alert-rounded">  Error al registrar Movimiento.
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
	                    </div>
	                </div>
	                
	                <!-- Eliminar -->
	                <div  class="col-12" th:if="${resultE}"> <!--th:if="${resultE}"  -->    
	                    <div th:if="${resultE==1}" class="alert alert-success alert-rounded">  Movimiento eliminado correctamente.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
						</div>
                    	<div th:if="${resultE==2}" class="alert alert-danger alert-rounded">  Error al eliminar Movimiento.
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
	                    </div>
                    </div>
                </div>		
								
				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            				
                                <!--h4 class="card-title">Data Export</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF &amp; Print</h6-->
                                <div class="table-responsive m-t-40">
                                	<!--table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"-->
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
												<th>ID Movimiento</th>
												<th>Chequera</th>
												<th>Concepto</th>
												<th>Monto</th>
												<th>Fecha</th>
												<th>Tipo Movimiento</th>
												<th>Status</th>
												<th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID Movimiento</th>
												<th>Chequera</th>
												<th>Concepto</th>
												<th>Monto</th>
												<th>Fecha</th>
												<th>Tipo Movimiento</th>
												<th>Status</th>
												<th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="movimiento : ${chequera.getMovimientos()}">
												<th><span th:text="${movimiento.idmovimiento}"></span></th>
												<th><span th:text="${chequera.idchequera}"></span></th>
												<th><span th:text="${movimiento.m_concepto}"></span></th>
												<!-- Abono -->
												<th th:if="${movimiento.getTipo_movimiento().tm_operacion=='Abono'}"><span th:text="'$'+${movimiento.m_monto}"></span></th>
												<!-- Cargo -->
												<th th:unless="${movimiento.getTipo_movimiento().tm_operacion=='Abono'}"><span th:text="'$-'+${movimiento.m_monto}"></span></th>
												<th>
													<span class="text-muted"><i class="fa fa-clock-o">
														</i><span th:text="${movimiento.mFecha}"></span> 
													</span>
												</th>
												<th><span th:text="${movimiento.getTipo_movimiento().tm_operacion}"></span></th>
												<th th:if="${movimiento.m_status=='true'}">
													<span th:text="${movimiento.m_status}">
														x
													</span>
												</th>
												<th th:unless="${movimiento.m_status=='true'}">
													<span th:text="${movimiento.m_status}">
														x
													</span>
												</th>
												<th>
													<div>
				                                    	<a>
				                                    		<button type="button" class="btn btn-info"><i class="fa fa-pencil"></i> Editar</button>
				                                    	</a>
				                                    	<a th:href="@{/movimientos/removemovimientochequera(idChequera=${chequera.idchequera},idMovimiento=${movimiento.idmovimiento})}">
				                                    		<button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
				                                    	</a>
				                                    </div>
												</th>
											</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Fin table movimientos -->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2018 KND
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- This is data table -->
    <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script type="text/javascript" th:inline="javascript">
    	$(document).ready(function() {	
        	$('#myTable').DataTable();
            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function() {
                    var currentOrder = table.order()[0];
                    /*<![CDATA[*/
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }/*]]>*/
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        
        });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
</body>

</html>
