<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>Movimientos de la Chequera: <span th:text="${chequera.idchequera}"></span></h1>

	<h2>Saldo: <span th:text="${chequera.ch_saldo}"></span></h2>

	<a th:href="@{/movimientos/movimientosform(chequera=${chequera.idchequera})}">
		<button>Nuevo Movimiento</button>
	</a>
	
	<table>
		<thead>
			<tr>
				<th>ID Movimiento</th>
				<th>Chequera</th>
				<th>Concepto</th>
				<th>Monto</th>
				<th>Fecha</th>
				<th>Tipo Movimiento</th>
				<th>Status</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="movimiento : ${chequera.getMovimientos()}">
				<th><span th:text="${movimiento.idmovimiento}"></span></th>
				<th><span th:text="${chequera.idchequera}"></span></th>
				<th><span th:text="${movimiento.m_concepto}"></span></th>
				<th><span th:text="${movimiento.m_monto}"></span></th>
				<th><span th:text="${movimiento.m_fecha}"></span></th>
				<th><span th:text="${movimiento.getTipo_movimiento().tm_operacion}"></span></th>
				<th><span th:text="${movimiento.m_status}"></span></th>
				<th>
					<a >
						<button>Editar</button>
					</a>
					<a th:href="@{/movimientos/removemovimientochequera(idChequera=${chequera.idchequera},idMovimiento=${movimiento.idmovimiento})}">
						<button>Eliminar</button>
					</a>
				</th>
			</tr>
		</tbody>
	</table>

</body>
</html>