<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>Chequeras de <span th:text="${cliente.c_nombre}+' '+${cliente.c_apaterno}+' '+${cliente.c_amaterno}"></span></h1>
	
	<a th:href="@{/chequeras/chequeraform(cliente=${cliente.idclientes})}"><button>Nueva Chequera +</button></a>
	
	<table>
		<thead>
			<tr>
				<th>ID Chequera</th>
				<th>Cliente</th>
				<th>Fecha apertura</th>
				<th>Saldo</th>
				<th>Abonos</th>
				<th>Cargos</th>
				<th>Banco</th>
				<th>Status</th>
				<th>Acciones</th>
				<th>Movimientos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="chequera : ${cliente.getChequeras()}">
				<th><span th:text="${chequera.idchequera}"></span></th>
				<th><span th:text="${cliente.c_nombre}"></span></th>
				<th><span th:text="${chequera.ch_fecha_apertura}"></span></th>
				<th><span th:text="${chequera.ch_saldo}"></span></th>
				<th><span th:text="${chequera.ch_abono}"></span></th>
				<th><span th:text="${chequera.ch_cargo}"></span></th>
				<th><span th:text="${chequera.getBancos().getB_entidad()}"></span></th>
				<th><span th:text="${chequera.ch_status}"></span></th>
				<th>
					<a >
						<button>Editar</button>
					</a>
					<a th:href="@{/chequeras/removechequeracliente(chequera=${chequera.idchequera},cliente=${cliente.idclientes})}">
						<button>Eliminar</button>
					</a>
				</th>
				<th>
					<a href="">
						<button>Movimientos...</button>
					</a>
				</th>
			</tr>
		</tbody>
	</table>
</body>
</html>