<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon icon -->
    <!--link rel="icon" type="image/png" sizes="16x16" th:href="@{assets/images/favicon.png}"/-->
    <title>Clientes - ChequeraKND</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        <div th:include="fragment/menu">
        </div>

        

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Clientes</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4></div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body"><h1>Clientes</h1>
                                <a th:href="@{/clientes/clientesform}">
   	                                <button type="button" class="btn waves-effect waves-light btn-lg btn-info"><i class="fa fa-plus"></i> Agregar Cliente</button>
       							</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Mensajes -->
                <div class="row">
                	<!-- Registrar -->
                    <div class="col-12" th:if="${result}"><!-- th:if="${result}" -->
						<div th:if="${result==1}" class="alert alert-success alert-rounded">  Cliente registrado con exito!.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
						</div>
                    	<div th:if="${result==2}" class="alert alert-danger alert-rounded">  Error al registrar Cliente.
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
	                    </div>
	                </div>
	                
	                <!-- Eliminar -->
	                <div  class="col-12" th:if="${resultE}"> <!--th:if="${resultE}"  -->    
	                    <div th:if="${resultE==1}" class="alert alert-success alert-rounded">  Cliente eliminado correctamente.
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
						</div>
                    	<div th:if="${resultE==2}" class="alert alert-danger alert-rounded">  Error al eliminar Cliente.
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
	                    </div>
                    </div>
                </div>
                
                <!-- Clientes -->
                <div class="row">
                
                	<div th:each="cliente : ${listClientes}" class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
	                                <br />
	                                <br />
	                                <a href="#"><img src="../assets/images/users/user.png" alt="user" class="img-circle img-responsive"/></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
	                                <span>ID: </span><span th:text="${cliente.idclientes}"></span>
                                    <h3 Th:text="${cliente.c_nombre}+' '+${cliente.c_apaterno}+' '+${cliente.c_amaterno}" class="box-title m-b-0">Johnathan Doe</h3>                                    
                                    <br />
                                    <b>Dirección: </b><span th:text="${cliente.c_direccion}"></span>
                                    <br />
                                    <b>Estado: </b><span th:text="${cliente.c_estado}"></span>
                                    <br />
                                    <b>Codigo Postal: </b><span th:text="${cliente.c_codigo_postal}"></span>
                                    <br />
                                    <b>Telefono: </b><span th:text="${cliente.c_telefono}"></span>
                                    <br />
                                    <b>Email: </b><span th:text="${cliente.c_correo}"></span>
                                    <br />
                                    <b>Fec. Nac.: </b><span th:text="${cliente.c_fecha_nacimiento}"></span>
                                    <br />
                                    <b>FRC: </b><span th:text="${cliente.c_rfc}"></span>
                                    <br />
                                    <b>Status: </b><span th:text="${cliente.c_status}"></span>
                                    <hr />
                                    <div>
                                    	<a >
                                    		<button type="button" class="btn btn-info"><i class="fa fa-pencil"></i> Editar</button>
                                    	</a>
                                    	<a th:href="@{/clientes/removecliente?cliente=__${cliente.idclientes}__}">
                                    		<button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
                                    	</a>
                                    </div>
                                    <hr />
                                    
                                    <a th:href="@{/chequeras/listChequerasbycliente?cliente=__${cliente.idclientes}__}">
                                        <button type="button" class="btn waves-effect waves-light btn-block btn-success">Ver Chequeras...</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Fin Clientes -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2018 KND
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
</body>

</html>
